.p-enter {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-enter__title {
  font: 4em 'DotGothic16-Regular';
  pointer-events: none;
  animation: enter 1.25s infinite;
}

@keyframes enter {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.p-enter__button {
  position: fixed;
  opacity: 0;
}